<html lang="en">
    <head>
        <meta charset="UTF-8" />   
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <title>Remote_dev</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/coding_desktop.css') }}"/>

        <link defer rel = "apple-touch-icon" sizes = "180x180" href = "{{ url_for('static',filename='images/ikonica_128x128.png') }}">
        <link defer rel = "icon" type = "image/png" sizes = "32x32" href = "{{ url_for('static',filename='images/ikonica_32x32.png') }}">
        <link defer rel = "mask-icon" href = "{{ url_for('static',filename='images/ikonica_128x128.png') }}">
        <link defer rel = "shortcut icon" href = "{{ url_for('static',filename='images/ikonica_128x128.png') }}">                   
        
        <!-- Code Mirror -->
        <!-- general -->
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/lib/codemirror.css') }}">
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/lib/codemirror.js') }}"></script>
        <!-- themes -->
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/theme/dracula.css') }}">
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/theme/mdn-like.css') }}">
        <!-- language modes -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/mode/xml/xml.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/mode/css/css.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/mode/javascript/javascript.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/mode/python/python.js') }}"></script>
        <!-- Addons -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/edit/closebrackets.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/edit/closetag.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/selection/active-line.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/wrap/hardwrap.js') }}"></script>
        <!-- Hints -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/hint/show-hint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/hint/html-hint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/hint/css-hint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/hint/javascript-hint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/hint/anyword-hint.js') }}"></script>
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/addon/hint/show-hint.css') }}">
        <!-- Search bar -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/search/search.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/search/searchcursor.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/search/jump-to-line.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/dialog/dialog.js') }}"></script>
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/addon/dialog/dialog.css') }}">
        <!-- Custom Scrollbars -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/scroll/simplescrollbars.js') }}"></script>
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/addon/scroll/simplescrollbars.css') }}">
        <!-- Lints -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/lint/css-lint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/lint/javascript-lint.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/lint/lint.js') }}"></script>
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/addon/lint/lint.css') }}">
        <script defer type="text/javascript" src="https://unpkg.com/jshint@2.13.2/dist/jshint.js"></script>
        <script defer type="text/javascript" src="https://unpkg.com/jsonlint@1.6.3/web/jsonlint.js"></script>
        <script defer type="text/javascript" src="https://unpkg.com/csslint@1.0.5/dist/csslint.js"></script>
        <!-- Folding -->
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/foldcode.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/brace-fold.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/comment-fold.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/foldgutter.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/indent-fold.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/markdown-fold.js') }}"></script>
        <script defer type="text/javascript" src="{{ url_for('static', filename='code_mrr/addon/fold/xml-fold.js') }}"></script>
        <link defer rel="stylesheet" href="{{ url_for('static', filename='code_mrr/addon/fold/foldgutter.css') }}">
        <!-- -------------------------------------------------------------------- -->                        
        <script defer type="text/javascript" src="{{url_for('static', filename='js/coding_desktop.js')}}"></script>         
    </head>
    <body> 
        <div id = "ucitavanje"></div>
        
        <form id="zaglavlje">
            <div id="logo_div">
                <h1 id="logo">Janja remote dev</h1>
            </div>
            <div id = "adresna_traka">{{konzolica}}</div>
            <input id = "odjava" type="submit" name="kontrola" data-funkcija = "odjava" value="odjava"/>    
            <input id ="opcija" alt = "opcije" type = "image" name = "kontrola" src = "{{ url_for('static',filename='images/opcije.png') }}" data-funkcija="opcije" />    
        </form>

        <div id="cela_funkcionalna_povrs">
            <div id = "kodiranje">
                <form id="forma_kodiranje">                        
                    <div id="preview_povrsina">                        
                        <textarea title = "Povrsina na kojoj se kodira" id="povrsina_kodiranje" wrap="off" name="code" placeholder="Prazno.">{{kdp}}</textarea>                        
                    </div>
                    <div id="prog_kontrole">
                        <input class = "control_dugme" id ="izvr" type="submit" data-funkcija="Izvrsi" name="kontrola" value="Izvrši"/>                
                        <input class = "control_dugme" id="sacu" type="submit" data-funkcija="Sacuvaj" name="kontrola" value="Sačuvaj"/>
                        <input class = "control_dugme" id="ocisti_konzolu" type="submit" data-funkcija="ocisti" name="kontrola" value="Očisti konzolu"/>
                        <input class = "control_dugme" id="terminal_izvr" type="submit" data-funkcija="terminal" name="kontrola" value="Terminal"/>
                    </div>                              
                    <textarea title = "Konzola" id="koznola_deo" wrap="off" name ="kontrola"></textarea>
                </form>
            </div>

            <div id="file_explorer_deo">
                <form id = "forma_pravljenje_fajlovi">
                    <div id = "file_kreator">
                        <input alt = "napravi" type="image" class = "dugme_filesistem" src = "{{ url_for('static',filename='images/new_file.png') }}" name = "akcija" data-vrednost="napravi"/>
                        <input alt = "obrisi" type="image" class = "dugme_filesistem" src = "{{ url_for('static',filename='images/delete.png') }}" name = "akcija" data-vrednost="obrisi"/>
                        <input alt = "preuzmi" type="image" class = "dugme_filesistem" src = "{{ url_for('static',filename='images/download.png') }}" name = "akcija" data-vrednost="preuzmi"/>
                        <input alt = "posalji" type="image" class = "dugme_filesistem" src = "{{ url_for('static',filename='images/upload.png') }}" name = "akcija" data-vrednost="posalji"/>
                        <input title = "nema" type="file" id="file_loader" multiple/>
                    </div>
                </form>
        
                <form id="file_explorer">
                    <div id="files_view"></div> 
                </form>
            </div>
        </div>

        <div id="footer_deo">
            <div id="footer_text">Andreja Janković, andrejajanja@gmail.com, April 2022.</div>
        </div>

        <div id = "opcije_panel">
            

        </div>
    </body>    
</html>