*, html {
  margin:0;
  padding:0;  
}/**/

body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: #282a36;
}

:root {
  --glavni_delovi-sirina: 98%;
  --boja_text: rgb(99, 99, 99);
  --main_boja: #37804a;
  --boja_font_fajl_folder: white;
  --background_color_file_folder: #282a36;
  --dugme_hover: #44454b;
  --invert_slike: 0.95;
}

#ucitavanje{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 106.5vh;
  background-color: #000000;
  background-image: url("/static/images/ucitavanje.gif");
  background-repeat: no-repeat;
  background-position: center, center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 255, 76);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color:  #71f171;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color:  #97FA97;
}

#cela_funkcionalna_povrs{
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
}

#kodiranje{
  width:80%;
  height: 100%;
}

#zaglavlje {
  background-color: var(--main_boja);
  -webkit-background-clip: border-box;
  background-clip: border-box;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  align-items: center;
}

#logo_div{
  display:table;           
}

#logo {
  text-align: left;
  vertical-align: middle;
  width: max-content;
  line-height: 50px;
}

#adresna_traka {
  font-family: monospace;    
  border: 1px solid black;
  font-size: 2vh;
  height: max-content;
  color: var(--boja_font_fajl_folder);
  margin-left: 1em;
  padding: 0.3rem;
  width: 500px;
  overflow-x: auto;
}

#odjava {
  font-family: 'Courier New', Courier, monospace;
  width: 13%;
  font-size: 150%;
  background-color: transparent;
  border-width: 1px;
  border-radius: 10px;
  color: var(--boja_font_fajl_folder);
  margin: auto;
  cursor: pointer;
}

#odjava:hover{
  background-color: var(--dugme_hover);
}

#opcija{
  height: 100%;
  margin-right: 5%;
}

#preview_povrsina{
  width: var(--glavni_delovi-sirina);
  height: 52%;
  display:flex;
  flex-direction: row;
  width: 100%;
}
#povrsina_kodiranje{
  height: 100%;
  width: 100%;
  display:block;
  align-content: flex-end;
  resize: none;
  border-color: rgb(12, 82, 29);   
  border-width: 2px;
  background: #6d6d6d;
  font-size: 120%;
  color: white;       
}

#prog_kontrole{        
  width: 96%;
  margin-left: 1%;
  height: 4%;
  display: block;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  background-color: #282a36;
}
.control_dugme{
  width: 20%;        
  font-size: 1.1em;
  margin-right: 2%;
  height: 100%;     
  border: 1px solid;
  border-radius: 10px;        
  background-color: var(--background_color_file_folder);
  color: var(--boja_font_fajl_folder);
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.control_dugme:hover{   
  background-color: var(--dugme_hover);
}
#ocisti_konzolu{
  font-size: 1.1em;
}

::placeholder{
  color:white;
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#naslov_konzola{        
  font-family: 'Courier New', Courier, monospace;
  margin-left: 1%;
  height: 3%;
  font-size: 1.2em;    
  width: var(--glavni_delovi-sirina);
  background-color: var(--main_boja);
}
#koznola_deo{
  width: var(--glavni_delovi-sirina);
  background-color: #282a36;
  height: 44%;
  font-size: 120%;
  color: white;
  resize: none;
  padding-left: 20px;
  width: 100%;
  border-width: 0;
}


#footer_deo{
  background-color:  var(--main_boja);                               
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#footer_text{
  width: 40%;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
}

#file_explorer_deo{
  height: 100%;
  width: 20%;
  border-left: 3px solid var(--main_boja);
}

#forma_pravljenje_fajlovi{    
  top: 0;
  background-color: white;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

#file_kreator{        
  width: 96%;
  height: 70%;  
  display: flex;
  flex-direction: row;
  border: var(--main_boja) ridge 5px;
  background-color: var(--background_color_file_folder);
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Courier New', Courier, monospace;
}

.dugme_filesistem{
  margin-left: 2%;  
  width: 20%;                  
  filter: invert(var(--invert_slike));
}

#file_loader{
  display: none;
}

#file_explorer{
  height: 90%;
  overflow-y: auto;
}

#files_view{
  display: flex;
  flex-direction: column;
  width: 96%;        
  margin:2%;      
  box-sizing: border-box;
}
.file_folder{
  width: 60%;
  margin-top: 1%;    
  height: 30px;
  width: 100%;
  font-size:80%;
  border: transparent;
  text-align: left;
  background-color: var(--background_color_file_folder);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--boja_font_fajl_folder);
}

.file_folder:hover{
  background-color: var(--dugme_hover);
}

.CodeMirror {
  height: 98% !important;
  width: 100%;
  border-top: 1px solid currentColor !important;
  padding-top: 5px;
  font-size: .9rem;    
}

.CodeMirror-hints {
  -webkit-box-shadow: 2px 3px 5px #454756;
  -moz-box-shadow: 2px 3px 5px #454756;
  box-shadow: 2px 3px 5px #454756;
  border-radius: 3px;
  border: 1px solid #2a2b31;
  background: #31333f;
}

.CodeMirror-hint {
  color: white;
}

li.CodeMirror-hint-active {
  background: rgb(69, 168, 255);
  color: black;
}

.CodeMirror-linenumber {
  text-align: center;
}

.cm-searching {
  background-color: #9a9a9c;
}

.CodeMirror-search-hint {
  display: none;
}

.CodeMirror-dialog-top {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.CodeMirror-dialog {
  left: 50%;
  width: 70%;
  transform: translateX(-50%);
}

#CodeMirror-search-field {
  margin-left: 5px;
  width: 70% !important;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  background: #454756;
  border: none;
  border-radius: 5px;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  background: #282a36;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: #2a2b31;
}


/*CSS KOJI SE TICE CELOG PANELA SA OPCIJAMA*/

.opcije_panel_klasa{
  align-items: center;  
  position: absolute;
  left: 0;
  top: -100%;
  z-index: 100;
  height: calc(100vh - 56px);
  width: 99.3vw;
  background-color: rgba(151, 211, 169, 0.95);
  display: flex;
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(1, 0, 0.58, 1);
  flex-direction: column;  
}

.opcije_panel_klasa.active {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

#opcije_panel h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--boja_text);
  margin-top: 3%;
  margin-bottom: 3%;
}

.opcije_element {   
  margin-bottom: 2%; 
  display: flex; 
  flex-direction: row;  
}

.opcije_element p{
  margin-right: 15%; 
  border-bottom: 3px dashed #047a39;
  border-right: 3px dashed #047a39;
  text-align: center;  
  font-size: 170%;
  height: 50px;
  width: 200px;    
  color: var(--boja_text); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.switch {    
  position: relative;
  display: inline-block;
  width: 71px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(87, 87, 87);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 30px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#preice_panel{
  color: var(--boja_text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
